/* Main Elements */
body {
	min-height: 100%;
	padding: 10px 0 20px;
}
.wrapper {
	position: relative;
	z-index: 3;
	height: auto !important;
	min-height: 100%;
	margin: 0;
	padding: 23px;
}
section {
	position: relative;
	overflow: hidden;
	margin: 0 0 40px;
}

.right {float:right;}
/* Text */
.description {
	font-size:1.5em;
	font-style:italic;
	font-family:Georgia;
	padding:0 0 25px;
	line-height:25px;
}
.sampling{
	float: left;
	width : 300px;
	margin-bottom: 10px;
}
.relationship{
	width: 5px;
	float: left;
	padding-left: 30px;
	padding-right: 30px;

}
.sampled{
	float:right;
	width: 300px;
	margin-bottom : 10px;
}

#sampleView{
	padding-top:20px;
	padding-bottom:20px;
	margin-top:20px;
	margin-bottom:20px;
}
