/*bg grey  #ecebe8
bg fade #d4d3d0
samplify green #aac029
*/

/* Main Elements */
body{
	/*height: 96%;*/
	width: auto;
}

h1 { 
	font-family: Arial;
	padding-top: 15px;
	font-size: 2em;
	letter-spacing: 2px;
	color: white;
	text-align:center;
}

h2{
	padding-top: 10px;
}

error{ 
	font-family: Arial;
	font-size: 1.1em;
	text-align:center;
}

.navbar{
	height: 60px;
	width: 100%;
	background-image: url(../img/nav.png);
	background-size: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.footer{
	width: 100%;
	height: 40px;
	background-image: url(../img/footer.png);
	background-size: auto;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.refresh{
	width: 100%;
	height: 50%;
	position: absolute;
	top:10;
	text-align:center;
}

.loading{
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	margin-top: 200px;
	z-index: 1000;
}

.wrapper{
	position: absolute;
	bottom: 40px;
	top: 60px;
	left: 0;
	right: 0;
	overflow: auto;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	padding-top: 7px;
	padding-bottom: 7px;
}

.section {
	position: relative;
}

.graph{
	position: absolute;
	width: 100%;
	overflow: hidden;
}

/* Text */
.description {
	font-size:1.5em;
	font-style:italic;
	font-family:Georgia;
	/*padding:0 0 25px;*/
	line-height:25px;
	position: relative;
}

.graphHeader{
	position: absolute;
	padding: 10px 10px 10px 10px;
	font-size: 1.5em;
	font-family: Georgia;
	line-height: 130%;
	width: 30%;
	z-index: 1000;
	color: #767676;
}

.sampleHeader{
	position: relative;
	padding: 10px 10px 10px 10px;
	font-size: 1.5em;
	font-family: Georgia;
	line-height: 130%;
	z-index: 1000;
	color: #767676;
}

.sample{
	position : relative;
	height: 220px;
	width: 85%;
	padding-top: 10px;
}

.sampled{
	position : relative;
	float: left;
	padding-left: 10px;
}
.sampling{
	position: relative;
	float: right;
	padding-right:10px;
}

.relationship{
	position:absolute;
	top:0;
	left:40%;
	right:40%;
	bottom:0;
	padding-left: 10px;
	padding-right: 10px;
}

.relationship p{
	font-family: Georgia;
	font-size: 1.5em;
	text-align: center;
	color: #767676;
}

.right{
	float: right;
}
.left{
	float: left;
}

.icon {
	width: 170px;
	height: 170px;
	border-radius: 10px;
	margin-bottom: 20px;
	margin-left: 20px;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
}