/*bg grey  #ecebe8
bg fade #d4d3d0
samplrr green #abc100
*/

/* Main Elements */

@font-face {
    font-family: "LobsterOriginal";
    src: url(/css/fonts/lobster.otf);
}

body{
	width: auto;
}

.navbar{
	height: 60px;
	width: 100%;
	background-image: url(../img/nav.png);
	background-size: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

footer{
	width: 100%;
	height: 40px;
	background-image: url(../img/footer.png);
	background-size: auto;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

.footerButton {
	width: 100%;
	height: 50%;
	position: absolute;
	top: 9px;
	text-align: center;
	z-index: 200;
}

.wrapper{
	position: absolute;
	bottom: 40px;
	top: 60px;
	left: 0;
	right: 0;
	overflow: auto;
}

a:link {text-decoration:none; color: #444;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

.section {
	position: relative;
	height: 100%;
	width: 100%;
}

.graph{
	position: absolute;
	width: 100%;
	overflow: hidden;
}

.sampleHeader,
.graphHeader,
.noSamples,
.relationship,
.errorMessage,
.carouselHeader{
	position: relative;
	padding: 10px 10px 10px 10px;
	font-size: 1.4em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #444;
	z-index: 100;
	text-shadow: 0 2px 2px #fff;
}
.graphHeader
{
	position: absolute;
}
.noSamples
{
	color: #777;
}
.carouselHeader
{
	padding: 10px 10px 0 40px;
}
.bxslider .sp-image{
	cursor: pointer;
	height: 150px;
}

.errorMessage
{
	position: absolute;
	text-align: center;
	text-shadow: 0 2px 3px #fff;
	color: #777;
	font-size: 2.0em;
	top: 40%;
	left: 10%;
	right: 10%;
}

.copyright {
	position: relative;
	padding: 15px;
	font-size: 1em;
	font-family: 'Lobster', cursive;
	color: black;
	z-index: 200;
}

.sample {
	position: relative;
	height: 280px;
	width: 100%;
	min-width: 700px;
}

.sampled {
	position: absolute;
	right: 65%;
}
.sampling {
	position: absolute;
	left: 65%;
}

.relationship {
	position: absolute;
	text-align: center;
	left: 10%;
	right: 10%;
	top: 30%;
}

.icon {
	width: 170px;
	height: 170px;
	border-radius: 10px;
	margin-bottom: 20px;
	margin-left: 20px;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
}

#twitter_image{
	position: absolute;
	top: 9px;
	left: 96%;
	z-index: 200;
}

#twitter_image img{
	width: 24px;
	height: 24px;
	-moz-box-shadow:    0.5px 0.5px 0.5px 0.6px #ccc;
	-webkit-box-shadow: 0.5px 0.5px 0.6px 0.6px #ccc;
	box-shadow:         0.5px 0.5px 0.6px 0.7px #ccc;
}